<h2>Services booked for Today</h2>

<ng-container *ngIf="(todayBookings()?.length || 0) === 0; else bookingsTable">
  <p>No services booked for today.</p>
</ng-container>

<ng-template #bookingsTable>
  <table>
    <thead>
      <tr>
        <th>Service ID</th>
        <th>Customer Name</th>
        <th>Vehicle Model</th>
        <th>Service Type</th>
        <th>Status</th>
        <th>Scheduled Time</th>
        <th>Warranty services chosen (Yes/No)</th>
        <th>If yes, Warranty services chosen</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let booking of todayBookings()">
        <td>{{ booking?.serviceId }}</td>
        <td>{{ booking?.ownerName }}</td>
        <td>{{ booking?.makeModelYear }}</td>
        <td>{{ booking?.serviceType }}</td>
        <td>{{ booking?.serviceStatus }}</td>
        <td>{{ booking?.serviceDate }}</td>
        <td>{{ booking?.warranty }}</td>
        <td>
          <ng-container *ngIf="booking?.warranty === 'yes' && (booking?.warrantySelections?.length || 0) > 0; else noWarranty">
            <ul>
              <li *ngFor="let service of booking.warrantySelections">{{ service }}</li>
            </ul>
          </ng-container>
          <ng-template #noWarranty>
            <p>No warranty services selected</p>
          </ng-template>
        </td>
        <td><a (click)="goToEdit(booking.serviceId)">Edit service status</a></td>
      </tr>
    </tbody>
  </table>
</ng-template>

<router-outlet></router-outlet>
