.table-wrapper {
  overflow-x: auto; /* Enables horizontal scroll if table overflows */
  margin-top: 1rem;
    border-radius: 1%;

}

.history-table {
  width: 100%;
  border: 2px solid #520000; /* outer frame */
  border-collapse: collapse;
  border-radius: 10%;
  font-family: Arial, sans-serif;
}

/* Header cells */
.history-table thead th {
  border: 1px solid #000000; /* inner grid lines in header */
  padding: 8px 12px;
  text-align: left;
  background: #babee3; /* dark header */
  color: #000000; /* white text for contrast */
  font-weight: 700;
}

/* Body cells */
.history-table tbody td {
  border: 1px solid #000000; /* inner grid lines for every cell */
  padding: 8px 12px;
  color: #000000; /* light text for dark background rows */
}

/* Zebra rows for readability */
.history-table tbody tr:nth-child(odd) {
  background: #e2e9f3;
}

.history-table tbody tr:nth-child(even) {
  background: #e2e9f3;
}

/* Hover highlight */
.history-table tbody tr:hover {
  background: #7c96b1;
  cursor: pointer;
}
