<header class="page-header">
  <h2>Warranties</h2>
  <!-- <a class="btn" routerLink="../warranties/new">+ New Warranty</a> -->
</header>

<table class="table" *ngIf="warranties$ | async as warranties; else empty">
  <thead>
    <tr>
      <th>S.No.</th>
      <th>Vehicle</th>
      <th>Status</th>
      <th>Issued</th>
      <th>Expiry</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let w of warranties">
      <td>{{ w.warrantyId }}</td> 
      <td>{{ w.vehicleId }}</td>
      <td>{{ w.status }}</td>
      <td>{{ w.issuedDate | date }}</td>
      <td>{{ w.expiryDate | date }}</td>
      <td>
        <!-- <a routerLink="../warranties/{{ w.warrantyId }}">Edit</a> -->
<button class="link danger" (click)="remove(w.vehicleId)">Delete</button>      </td>
    </tr>
  </tbody>
</table>

<ng-template #empty>
  <p>No warranties found.</p>
</ng-template>
