

<main>
  <div>
    <h1 id="loginTitle" class="card-title">LOGIN PAGE</h1>
    <div class="strip"></div> <!-- optional -->
    <form aria-labelledby="loginTitle" [formGroup] = "form" (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <input id="email" type="email" name ="email" required formControlName="email" placeholder="you@example.com" />
      
      <label for="password">Password</label>
      <input id="password" type="password" name ="password" required formControlName="password" placeholder="••••••••" />
      
      <button class="submit" type="submit">Login</button>
    </form>
  </div>
</main>

